<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<div style="height: 100%; overflow: hidden">
  <div style="vertical-align: middle">
    <button (click)="drawer.toggle()" color="primary" mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header-font">Scrapbook</span>
    </div>


  <mat-drawer-container class="scrapbook-container">
    <mat-drawer #drawer [opened]="true" class="scrapbook-sidenav" mode="side">
      <div>
        <div>
          <button [routerLink]="['dashboard']" color="primary" mat-raised-button class="nav-buttons">
            <mat-icon>dashboard</mat-icon>&nbsp;{{'dashboard'}}</button>
        </div>
        <div>
          <button [routerLink]="['scrapbooks']" color="primary" mat-raised-button class="nav-buttons">
            <mat-icon>menu_book</mat-icon>&nbsp;{{'scrapbooks'}}</button>
        </div>
        <div>
          <button [routerLink]="['sites']" color="primary" mat-raised-button class="nav-buttons">
            <mat-icon>local_library</mat-icon>&nbsp;{{'sites'}}</button>
        </div>
        <div>
          <button [routerLink]="['comments']" color="primary" mat-raised-button class="nav-buttons">
            <mat-icon>chat</mat-icon>&nbsp;{{'comments'}}</button>
        </div>
        <div>
          <button [routerLink]="['ratings']" color="primary" mat-raised-button class="nav-buttons">
            <mat-icon>star</mat-icon>&nbsp;{{'ratings'}}</button>
        </div>

        <div *ngIf="!oauthService.hasValidAccessToken()">
          <button (click)="login()" class="nav-buttons"  mat-raised-button color="basic">Login</button>
        </div>
        <div *ngIf="oauthService.hasValidAccessToken()">
          <button (click)="logout()" class="nav-buttons"  mat-raised-button color="basic">Logout</button>
        </div>


      </div>
    </mat-drawer>

    <div class="scrapbook-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>


